# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages
- List common libraries
- Demonstrate arithmatice expression
- List Data Sciecne Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matpoltlib
2. Pandas
3. Numpy

|Data Science Tools|
|---------------|
|Pandas|
|Jupyter Notebooks|
|Pytourch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by dividing by 60
result = 200/60
print(result)

3.3333333333333335

## Author
John Stowers